parameters:
    phpVersion: 80100
    level: 8
    paths:
        - src
    parallel:
        maximumNumberOfProcesses: 1
    ignoreErrors:
        -
            message: '%Comparison operation "<=" between int<11, 99> and 99 is always true.%'
            path: src/MessageSelector.php
